:root {
  color-scheme: light dark;
  background-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
   background-color: #fdfbf6 !important;
  }
}

*, *::before, *::after {
box-sizing: border-box;
}

html, body {
height: 100%;
 overflow: hidden;
}


body {
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: block;
  min-width: 320px;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
app-root {
  display: block;
  width: 100%;
  min-height: 100svh;
}